/* START */

html {
  font-size: 16px;
  font-family: sans-serif;
  color: #353535;
}

body {
  line-height: 1.2;
}

@media only screen and (max-width: 1040px){
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 16px;
  }
}


/* HEADER */

header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem 0;
}

header > img {
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}
header > nav {
  margin-right: 1rem;
}

header div.companyname {
  font-size: 2rem;
  flex-grow: 1;
  line-height: 1;
}

#colmar {
  font-weight: bold;
}

#academy {
  font-weight: 100;
}

header nav span {
  margin: 0 0.5rem;
}

#logo-campus,
#logo-online,
#logo-login {
  display: none;
}



@media only screen and (max-width: 450px) {
  header>div.companyname,
  header>nav {
    display: none;
  }

  #logo-campus,
  #logo-online,
  #logo-login {
    display: inline-block;
  }

  header {
    justify-content: space-between;
    padding: 0;
    height: 4rem;
  }

  header > img {
    margin: 0 1.5rem;;
  }
}


/* MAIN */

div.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

div.coloring:nth-child(2n+1){
  background-color: hsla(0, 0%, 85%, 1);
}

.container {
    display: flex;
    width: 100%;
}

div.left {
  margin: 2rem 1.5rem;
  width: 60%;
}

div.right {
  width: 40%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}




/* First BOX */

div.left img{
  width: 100%;
}

#firstbox>div.right>h1,
#firstbox>div.right>h4,
#firstbox>div.right>div.btn {
  margin: 1rem 0;

}

#firstbox>div.right>div.btn {
  width: 50%;
  background-color: #4A4A4A;
  padding: 0.5rem 0;
  text-align: center;
  color: white;
}

#firstbox>div.right {
  justify-content: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h4 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 450px) {
  .container {
    flex-direction: column;
  }

  div.left {
    margin: 0 auto;
    width: 98%;
  }

  div.right {
    width: 100%;
    margin: 0;
    display: block;
  }

  #firstbox>div.right>h1 {
    font-size: 2rem;
    margin: 2rem 0;
    margin-left: 1rem;
  }
  #firstbox>div.right>h4 {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }
  #firstbox>div.right>div.btn {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}


/*Second Box */

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin: 2rem 0 1.5rem 0;
}

h3 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.3;
}

.right .content {
  display: flex;
  width: 100%;
  margin-bottom: 0.2rem;
}

.content {
  border: 1px solid hsla(0, 0%, 90%, 1);
}

#secondbox div.left span{
  display: block;
  margin-top: 2rem;
}

div.right {
  justify-content: flex-start;
}

.right .content .imgbox {
  width: 35%;
  height: auto;
  margin: 1rem 1.5rem 1rem 1rem;
  flex-shrink: 0;
}

.right .content .imgbox img {
  width: 100%;
}

#lecturerbox {
  background-color: hsla(0, 0%, 85%, 1);
}

div.infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
  width: 65%;
}

div.infobox p {
  margin: 0.5rem 0;
  font-weight: 100;
  line-height: 1.5;
}
div.infobox span {
  font-size: 0.8rem;
  color: hsla(215, 65%, 50%, 1);
}


#secondbox div.left {
  margin: 0;
  padding: 2rem 1.5rem;
  border-right: 1px solid hsla(0, 0%, 90%, 1);
}

#otmobile,
#campmobile,
#lecturemobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #lecturerbox>div.infobox>h3 {
    font-size: 1.5rem;
  }
  #lecturerbox>div.infobox>p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 450px) {
  div.content{
    border: none;
  }

  #secondbox>div.left {
    display: none;
  }
  #secondbox>div.right>div.content {
    display: block;
  }

  #otmobile,
  #campmobile,
  #lecturemobile {
    display: block;
  }
  #otdesktop,
  #campdesktop,
  #lecturedesktop {
    display: none;
  }

  #secondbox>.right {
    box-sizing: border-box;
    padding: 1rem;
    padding-bottom: 0;
  }

  #secondbox>.right>.content>.imgbox {
    width: inherit;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  #secondbox>.right>.content>.imgbox>img {
    width: 100%;
  }

  #secondbox div.infobox {
    display: block;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  div.infobox p{
    margin: 1rem 0;
  }
  div.infobox {
    margin-right: 0;
    width: auto;
    max-width: 100%;
  }

  #lecturerbox>div.infobox>p{
    width: 100%;
    line-height: 1.2;
    font-size: 1rem;
  }

  #lecturerbox {
    background-color: white;
  }

  .right .content {
    margin-bottom: 0;
  }

  .right {
    border-bottom: 1px solid hsla(0, 0%, 90%, 1);
  }
}


/*3333333333 Third Box3 3333333 */

div.vertical {
  display: flex;
  flex-direction: column;
}

div.vertical>h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

#thirdbox div.container div.left>h4{
  margin: 1.5rem 0 0.5rem 0;
  font-weight: bold;
}

#fisma {
  background-color: hsla(0, 0%, 85%, 1);
}

div.container div.left>p{
  width: 90%;
  font-weight: 100;
  line-height: 1.5;
}

div.left video {
  width: 100%;
}

@media only screen and (max-width: 780px) {
 div.infobox h3,
 div.infobox p {
   line-height: 1;
 }
}

@media only screen and (max-width: 450px) {
  #thirdbox div.container div.right {
    display:none;
  }
  #thirdbox div.container div.left h4,
  #thirdbox div.container div.left p {
    display: none;
  }
  #thirdbox div.right {
    border-bottom: none;
  }
  #thirdbox div.left {
    margin-bottom: 1.5rem;
  }
}



/* 4444444444444444 Fourth BOx 444444444 */

div.courses {
  display: flex;
  margin: 0 4rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

div.course {
  width: 25%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

div.course div.courseimg img {
  display: block;;
  width: 100%;
}

div.course div.coursetxt {
  padding: 1rem;
  background-color: white;
  font-weight: 100;
  flex-grow: 1;
}

div.course div.coursetxt h3 {
  margin-bottom: 1rem;
}

div.course div.coursetxt p {
  width: 90%;
  margin-top: 0.5rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1040px){
  div.course div.coursetxt h3 {
    margin-bottom: 0.5rem;
  }

  div.course div.coursetxt span {
  }

  div.course div.coursetxt p {
    width: 100%;
    margin-top: 0.3rem;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 450px) {
  #fourthbox {
    border-bottom: 1px solid hsla(0, 0%, 90%, 1);
  }
    #fourthbox h2 {
      margin-bottom: 1rem;
    }
    div.courseimg {
      display: none;
    }

    div.coursetxt span,
    div.coursetxt p {
      display: none;
    }

    div.courses {
      flex-direction: column;
      justify-content: space-between;
      margin: 0 1rem;
      padding-bottom: 1.5rem;
    }

    div.course {
      display: block;
      width: auto;
      margin: 0 0 0.5rem 0;
    }

    div.course div.coursetxt {
      padding: 0;
    }

    div.course div.coursetxt h3{
      box-sizing: border-box;
      margin-bottom: 0;
      padding: 1rem 0 1rem 1rem;
      background-color: hsla(0, 0%, 85%, 1);
      font-size: 1.5rem;
    }
}




/* Footer */

footer {
  border-top: 1px solid hsla(0, 0%, 90%, 1);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  font-weight: 100;
}
footer div.terms span {
  margin: 0.5rem;
}


@media only screen and (max-width: 450px){
  footer {
    border-top: none;
    padding: 1rem 0 1rem 1rem;
    display: block;
    height: auto;
  }

  footer div.terms {
    display: none;
  }

  footer p {
    font-size: 0.8rem;
  }

  div.coloring:nth-child(2n+1){
    background-color: white;
  }

  #firstbox {
    background-color: hsla(0, 0%, 85%, 1);
  }

  #firstbox>div.right>div.btn {
    font-weight: bold;
    background-color: hsla(0, 0%, 60%, 1);
  }
}
